<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KEPAVerwaltungWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="WebDB" providerName="MySql.Data.MySqlClient" connectionString="server=w01bdc60.kasserver.com;database=d03be675;uid=d03be675;pwd=pCcrvvcVWNgAtn6V;sslmode=None;" />
		<!-- <add name="LocalDB" providerName="System.Data.SqlClient" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\KEPAVerwaltung.mdf;integrated security=True;Connect Timeout=30" /> -->
		<add name="LocalDB" providerName="System.Data.SqlClient" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=[DB];integrated security=True;Trusted_Connection=True;Connect Timeout=30" />
	</connectionStrings>
    <userSettings>
        <KEPAVerwaltungWPF.Properties.Settings>
            <setting name="ZoomActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomFactor" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="ZoomRadius" serializeAs="String">
                <value>100.0</value>
            </setting>
            <setting name="ZoomType" serializeAs="String">
                <value>Circle</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </KEPAVerwaltungWPF.Properties.Settings>
    </userSettings>
</configuration>